body{
    margin:0;
}

.wrapper{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    /* grid-template-rows: auto; */
    grid-template-areas:
    "head head head"
    "rside cont lside"
    "rside cont lside"
    ;
    box-sizing: border-box;
    width: 100%;
}

.header{
    grid-area: head;
    height: 500px;
    background-color: rgb(62, 61, 61);
    
}

.rightsidebar{
    grid-area: rside;
    height: 2000px;
    width: auto;
    background-color: rgb(0, 255, 17);

}

.leftsidebar{
    grid-area: lside;
    height: 2000px;
    width: auto;
    background-color: red;


}

.content{
    grid-area: cont;
    width: 100%;
    height: 2000px;
    
    background-color: plum;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image1 text1"
    "text2  text3"
    "image2 text4"
    "image3 text5"
    "text6 image4"
    "image5   .  "
    "text7    .  "
    
    ;
}

/* --------------------------- */
.cTopVänster{
    grid-area: image1;
    background-color: rgb(251, 255, 0);
    height: 27rem;
    width: 27rem;
    place-self: center top right;
    margin-left: 5rem;
    margin-top: 5rem;
}

.cTopHöger{
    grid-area: text1;
    background-color: rgb(255, 108, 10);
    height: 15rem;
    width: 50rem;
    place-self: center right;
    margin-left: -15rem;
    margin-right: 5rem;
    margin-top: -6rem;
}

.cBottomVänster{
    grid-area: text2;
    background-color: rgb(210, 210, 255);
    width: 36rem;
    height: 20rem;
    place-self: top left;
    margin-left: 3rem;
}

.cBottomHöger {
    grid-area: text3;
    background-color: aquamarine;
    width: 36rem;
    height: 20rem;
    place-self: top right;
    margin-right: 3rem;
}

/* --------------------------- */
.cTopHöger2 {
    grid-area: image2;
}

.cTopVänster2 {
    grid-area: text4;
}

.cBottomHöger2 {
    grid-area: image3;
}

.cBottomVänster2 {
    grid-area: text5;
}

/* --------------------------- */
.cTopHöger3 {
    grid-area: text6;
}

.cTopVänster3 {
    grid-area: image4;
}

.cBottomHöger3 {
    grid-area: image5;
}

.cBottomVänster3 {
    grid-area: text7;
}



/*
footer{
    border: yellowgreen solid;
    grid-area: foot;    
    height: 300px;
}
*/
